/**
 *   Programmers: Andy Tran, Sreypich Heng
 *   Rowan University
 *   Course: Web Programming CS04305
 *   Instructor: Marquise Pullen
 *
 *   Description: Stylesheet for About page.
 */


.about-container {
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
}

.about-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 16px;
    line-height: 1.5;
}
