/**
 *   Programmers: Andy Tran, Sreypich Heng
 *   Rowan University
 *   Course: Web Programming CS04305
 *   Instructor: Marquise Pullen
 *
 *   Description: Stylesheet for Contact page.
 */

 .foregroundContact {
    width: 1024px;
    margin: auto;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-top: solid 9px #f18f8f;
    position: relative;
    box-shadow: 2px 3px 3px;
 }


.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.about-img {
    border: 2px solid #f18f8f;
    border-radius: 50px;
    height: 250px;
    max-width: 200px;
    display: flex;
    margin: auto;
}

.dev {
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
