/**
 *   Programmers: Andy Tran, Sreypich Heng
 *   Rowan University
 *   Course: Web Programming CS04305
 *   Instructor: Marquise Pullen
 *
 *   Description: Stylesheet for Contact page.
 */

 .foregroundContact {
    max-width: 1024px;
    height: 300px;
    margin: auto;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-top: solid 9px #f18f8f;
    position: relative;
    box-shadow: 2px 3px 3px;
 }

 .about li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
 }

 .about li p {
    font-size: 20px;
 }

 .about {
    padding: 10px;
 }


.contact-form-container {
    width: 1024px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #fff;
    background-color: #ffffff;
    border-top: solid 9px #f18f8f;
    box-shadow: 2px 3px 3px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.dev {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.about-img {
    border: 2px solid #9590b0;
    border-radius: 50px;
    height: 200px; 
    width: 150px; 
    margin-right: 20px; 
}

.dev p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0; 
    display: block;
}

@media screen and (max-width: 600px) {
    .foregroundContact {
        width: 500px;
    }

    .contact-form-container {
        width: 500px;
    }

    .about li p {
        font-size: 15px;
     }
  }
