/**
 *   Programmers: Andy Tran, Sreypich Heng
 *   Rowan University
 *   Course: Web Programming CS04305
 *   Instructor: Marquise Pullen
 *
 *   Description: Stylesheet for Footer section.
 */

footer {
   background: #1f1d29;
   font-family: 'Ubuntu', sans-serif;
}

.col p {
   color: white;
}

.row {
   display: flex;
   justify-content: space-between;
   padding: 20px 20px;
   font-size: 14px;
}

.row .socialIcons i {
   display: inline-block;
   text-decoration: none;
   font-size: 20px;
   color: white;
   margin: 0px 10px;
}

/* Hover effects on social icons */
.row .socialIcons i:hover {
   color: #3c7699;
   transition: 0.5s;
}

/* Style for designer class in the footer section */
.designer1 {
   color: #9590b0;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-weight: 400;
   margin: 0px 5px;
}

.designer {
   color: #9590b0;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-weight: 500;
   margin: 0px 5px;
   content: '';
   width: 140px;
   height: 2px;
   background-color: rgba(255, 255, 255, 0.209);
}