/**
 *   Programmers: Andy Tran, Sreypich Heng
 *   Rowan University
 *   Course: Web Programming CS04305
 *   Instructor: Marquise Pullen
 *
 *   Description: Stylesheet for Footer section.
 */

 .end {
    display: flex;
    width: 1024px;
    justify-content: center;
    margin: auto;
    background-color: white;
    padding: 40px;
    border-top: solid 9px #f18f8f;
    position: relative;
    bottom: 40px;
    box-shadow: 2px 3px 3px;
    background-color: #2a293a;
 }

 footer p {
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    color: rgb(204, 204, 204);
    text-align: center;
    font-size: 40px;
 }

 .references {
    display: flex;
 }

 .references li {
    margin-right: 30px;
    color: white;
 }

 .references li a {
    color: white;
    font-size: 25px;
 }

 .references li:first-child {
    list-style: none;
 }