/**
 *   Programmers: Andy Tran, Sreypich Heng
 *   Rowan University
 *   Course: Web Programming CS04305
 *   Instructor: Marquise Pullen
 *
 *   Description: stylesheet for Form component.
 */


 .foreground {
   width: 1024px;
   justify-content: center;
   margin: auto;
   background-color: white;
   padding: 40px;
   border-top: solid 9px #f18f8f;
   position: relative;
   bottom: 40px;
   box-shadow: 2px 3px 3px;
   flex-direction: column;
 }
 
 .howTo {
   height: auto;
   justify-content: center;
   padding-bottom: 20px;
 }

 .howTo p {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: medium;
 }
 
 .result {
   width: 100%;
   border-collapse: collapse;
   margin-top: 30px;
 }
 
 .result th,
 .result td {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 .result th {
   background-color: #f2f2f2;
   color: #9678b6;
   text-align: center;
 }
 
 .result td {
   text-align: left;
 }
 
 .result tr:nth-child(even) {
   background-color: #f2f2f2;
 }
 
 .action {
   text-align: right;
 }
 
 .action .btn {
   margin-left: 5px;
 }
 
 .btn {
   height: 30px;
   border-radius: 6px;
   background-color: #9678b6;
   color: white;
   font-size: 14px;
   cursor: pointer;
 }
 
 .btn:hover {
   background-color: #b19cd9;
 }

 @media screen and (max-width: 600px) {
  .result {
      width: 500px;
  }

  .foreground {
    width: 500px;
  }
}
 