/**
 *   Programmers: Andy Tran, Sreypich Heng
 *   Rowan University
 *   Course: Web Programming CS04305
 *   Instructor: Marquise Pullen
 *
 *   Description: stylesheet for Hero component.
 */

 .hero {
    background-image: url("../../public/background.png");
    height: 400px;
    max-width: 3000px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 4px;
 }

 .title {
   margin-right: 7em;
   margin-left: 7em;
   background-color: #f18f8f;
   height: 5px;
   border: 3px;
   border-radius: 10px;
   border-color: white;
   border-style: solid;
 }

 .hero h1 {
   font-size: 60px;
   color: white;
   margin: 6px;
 }

 .hero p {
   margin: 10px;
   font-family: 'Arial Narrow', Arial, sans-serif;
   color: white;
   font-size: 50px;
   letter-spacing: 3px;
 }