/**
 *   Programmers: Andy Tran, Sreypich Heng
 *   Rowan University
 *   Course: Web Programming CS04305
 *   Instructor: Marquise Pullen
 *
 *   Description: stylesheet for Results component.
 */

 .foreground2 {
    width: 1024px;
    padding: 40px;
    justify-content: center;
    margin: auto;
    background-color: white;
    position: relative;
    bottom: 40px;
    box-shadow: 2px 3px 3px;
 }

 .list {
    display: flex;
 }
 
 .trash {
    width: 15px;
    height: 20px;
 }

 .options button {
    font-size: 30px;
    font-weight: bold;
    margin-right: 0px;
    border: 0px;
    color: black;
    padding-left: 2px;
 }

 .options {
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: center;
    padding-right: 5px;
    padding-left: 10px;
 }

 .remove {
   position: relative;
   bottom: 2px;
 }

 .titles {
    border: solid 2px black;
 }

 table {
    border-spacing: 0px;
    width: 800px;
    margin: auto;
 }

 tr:nth-child(odd) {
   background-color: #ffd5d5;
 }

 .titles th {
    padding: 10px;
    padding-right: 3em;
    padding-left: 3em;
    margin: 0px;
    background-color: #f18f8f;
    color: white;
    width: 100px;
 }

 td {
    text-align: center;
    margin-left: 4em;
 }

 #title {
    padding-left: 1em;
    width: 600px;
    text-align: left;
 }

 #action {
    text-align: right;
    padding-right: 2em;
 }

 hr {
   background-color: rgb(240, 240, 240);
   height: 9px;
   border: 0px;
 }

 .bottom {
   margin-bottom: 50px;
 }
